*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.flask:hover,
.apps:hover,
.person:hover{
    background-color: gray;
}

header{
    width:100%;
    display: flex;
    justify-content: end;
    padding:15px;
    font-size: 20px;
    /* gap:30px; */
}
nav{
    display: flex;
    gap:20px;
}
.icon{
    display: flex;
    gap:20px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* transform: translate(0%,160%); */
    margin-top: 180px;

}
.mcontainer{
    display: flex;
    width:600px;
    height:40px;
    /* justify-content: center;
    align-items: center; */
    border:2px blur;
    /* transform: translate(80%,700%); */
    border-radius: 20px;
    justify-self: center;
    align-items: center;
    gap:20px;
    box-shadow: 2px 2px 2px 2px gray;
    margin-top: 30px;
}
input{
    width:450px;
    border: none;
    outline: none;

}
.camera{
    height: 30px;
    width:20px;
    display:flex;
}
.mic,.camera{
    display: flex;
   justify-content: end;
   
}
.scontainer{
    display: flex;
    margin-top: 50px;
    gap:200px;
}
.github:hover,
.youtube:hover,
.instagram:hover{
    background-color: gray;
}

